// Stuff from MitItUp
.cd-btn {
	display: inline-block;
	padding: .35em 1.2em;
	margin-bottom: 1em;
	border-radius: 2px;
	background-color: transparent;
	color: $color-1;
	border: 1px solid $color-1;
	font-size: 16px;
	letter-spacing: 1px;
	box-shadow: 0 1px 4px rgba(#000, .1);
	transition: color 0.2s, background-color 0.2s;
	.no-touch &:hover {
		background-color: $color-1;
		color: $color-2;
    cursor: pointer;
	}
	&.active {
		background-color: $color-1;
		color: $color-2;
		.no-touch &:hover {
      background-color: $color-5;
			color: $color-2;
		}
	}
}
.filter-box {
	display: flex;
	justify-content: flex-start;
  flex-wrap: wrap;
	margin: 15px auto;
	text-align: center;
	button {
		margin-right: 10px;
    font-family: $secondary-font;
		&:last-of-type {
			margin-right: 0px;
		}
	}
  .filter-buttons {
    width: 100%;
    margin: 0 auto;
    @include MQ(M) {
      width: auto;
      margin: 0;
    }
  }
  .sort-buttons {
    display: flex;
    margin: 0 auto 15px auto;
    @include MQ(M) {
      margin: 10px auto 5px 40px;
    }
    hr {
      width: 1px;
      height: 18px;
      margin: 0 10px;
      border-right: 1px solid transparentize($color-3, .4);
		}
    .sort-btn {
      color: $color-5;
      background: transparent;
      border: transparent;
      &:hover {
        text-decoration: underline;
        color: $color-1;
        cursor: pointer;
      }
      &.active {
        text-decoration: underline;
        color: $color-1;
      }
    }
  }
}


.container {
  -webkit-column-count:1;
  -moz-column-count:1;
  column-count:1;
  max-width: 940px;
  .mix {
    text-align: left;
    margin: 0 0 15px;
    display: none;
    -webkit-backface-visibility: hidden;
    -webkit-transform-origin: 50% 0;
    a:hover {
      opacity: 0.9;
      transition: all 0.2s ease-in-out;
      background-color: white;
      cursor: pointer;
    }
    img {
      width: 100%;
      border-radius: 2px;
    }
  }
}

.photo-area-container {
  margin: 15px $left-margin-s;
  @include MQ(M) {
    margin: 20px $left-margin-m;
  }
  @include MQ(L) {
    margin: 20px $left-margin-l;
  }
}






/* Edits for styles on lightgallery plugin */
  // These override the styles in the min.css file (purly styleistic) //

.lg-backdrop {
  background: rgba(0, 0, 0, .95)
}

.lg-outer .lg-img-wrap, .lg-outer .lg-item {
    max-width: 100%;
    height: 100%;
    .lg-image {
       max-width: 100%;
       vertical-align: middle;
       margin-top: 0;

     }
     .lg-item {
       background: none;
     }
  }

  .lg-actions .lg-next, .lg-actions .lg-prev, .lg-autoplay-button, .lg-fullscreen {
    background: none;
    display: none;
  }

  .lg-toolbar {
    width: 100%;
    background: transparent;
    .lg-close {
      width: 100%;
    }
    .lg-close:after {
      content: 'close';
      font-family: $secondary-font;
      color: $color-4;
      text-align: center;
    }
  }


  /// Edits to Photo grid view & lightbox view (after lightbox style overrides becuase these are even more specific)
 .content {
   width: 25%;
   margin: 0 $left-margin-s;
   .tile {
     margin-top: 1em;
     display: inline-block;
     width: 100%;
     &:hover {
       opacity: 0.9;
       transition: all 0.2s ease-in-out;
     }
     @include MQ(L) {
       max-width: 620px;
       height: 100%;
       margin-left: 20px;
     }
     .photo {
       width: 100%;
       border-radius: 2px;
       @include MQ(L) {
         max-width: 620px;
         height: 100%;
       }
     }
   }
   @include MQ(M) {
     flex-wrap: wrap;
     flex-direction: row;
     margin: 0 $left-margin-m;
   }
   @include MQ(L) {
     margin: 0 $left-margin-l 0 ($left-margin-l - 20);
   }
 }

 @media screen and (max-width: 1430px) { // fix to make it work on all sizes
   .content .photo,.content .tile {
     width: 100% !important;
     max-width: none !important;
   }
 }

 .caption-box {
   display: none;
 }

 .photo-description {
   padding: 0.25em 0;
 }



/// Scroll loading classes
.lazyload {
  opacity: 0;
}
.lazyloading {
  opacity: 1;
  transition: 300ms opacity;
  background: #f7f7f7 url(//afarkas.github.io/lazysizes/assets/imgs/loader.gif) no-repeat center;
  min-height: 60px;
}
.lazyloaded {
  opacity: 1;
  transition: 9ms opacity;
}
